<!DOCTYPE html>
<html>
    <head>
        <title>{{ titulo }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>{{ alerta }}</div>
        <form name="resetaSenha" action="{{ url }}" method="POST">
            <label for="login">Informe seu login</label>
            <input type="text" name="login" value="{{ login }}">
            <br/>

            <label for="senha">Informe sua senha</label>
            <input type="password" name="senha" value="{{ senha }}">
            <br/>
            
            <label for="resenha">Informe sua nova senha</label>
            <input type="password" name="resenha" value="{{ senha }}">
            <br/>

            <input type="submit" value="Enviar">
        </form>
    </body>
</html>
