/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: white;
    background-color: black;
}

header, footer {
    background-color: red;
    text-align: center;
    padding: 1rem;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    letter-spacing: 0.05em;
}

 a:hover, a:focus {
    color: black;
    background-color: white;
    letter-spacing: 0.05em;
    border-radius: 5px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

nav ul li a:hover, nav ul li a:focus {
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

main {
    padding: 20px;
    text-align: center;
}

main h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

main p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.6;
}

footer p {
    color: black;
    padding: 10px;
    background-color: white;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }
}
