<!DOCTYPE html>
<html>
    <head>
		{% block estilosExtras %}
		{% endblock %}
		
		{% block scriptsExtras %}
		{% endblock %}
		
		<!-- Carrega os estilos padrão -->
        {{ style('style.css') }}
		<!-- Carrega os scripts padrão (descomente para usar) -->
        <!-- {{ script('aviso.js') }} -->
        
		<meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>{{titulo}}</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
    </head>
    <body>
		<header>
		<nav aria-label="Main navigation">
			<ul>
				<li>{{ link('','Principal') }}</li>
				<li>{{ link('sobre','Sobre') }}</li>
				<li>{{ link('postagens','Postagens') }}</li>
				<li>{{ link('Bakunin','Um cara legal') }}</li>
				<li>{{ link('admin/adicionarPostagem','Adicionar postagem') }}</li>
			</ul>
		  </nav>
		</header>
		<main>
		{% block conteudo %}
		{% endblock %}
		</main>
	</body>
</html>