{% extends "layout.html" %}

{% block conteudo %}
    {% if nome is defined %}
        <label for="imagem">Esse é {{nome}} o tiozão mais legal que você vai conhecer:</p>
        <img name="imagem" src="{{ image('bakunim.jpg') }}" alt="{{nome}}">
    {% else %}
        <h1>A Internacional!</h1><br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/qecYsIyt5yY?si=FN1ITDy4fq2_pGYT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    {% endif %}
{% endblock %}